$primary-:#0d6efd;
$dark-color:#212529;
$white:#fff;
.navbar{
    background-color: #fff;
}

.left-title {
  line-height: 35px;
}

.sidebar{
  height: calc(100vh - 56px);
  background: $dark-color;
  .nav-link{
      color: white;
  }
}